# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment variables file
.env

# Ignore build output
/dist
/build

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
